*/*.png
*/*/*.png
*/*/*/*.png
*/*/*/*/*.png
*/*/*/*/*/*.png

*/*/*/*/*.csv
*/*/*/*.csv
*/*/*/*.xlsx
*/*/*/*/*.xlsx

*/*/*/*/*/*.csv
*/*/*/*/*/*/*.csv

main/script/
main/utils/config/inference/
main/utils/config/train/
main/utils/config/train_conversion/
model_checkpoint/
output_images/
output_nifti/
*/*.sh
src/TO_NTU_FDG_raw space_20240913/
src/native_space_dataset/
src/native_space_MR/
src/native_space_PET/
src/native_space_pet_crop/
src/native_space_mr_crop/
src/model_checkpoint/
main/utils/*.png
*/*/*.pth

script/*.sh
utils/config/
*.png
utils/*.png
analysis/
src/native_space_pet_crop_old/
src/native_space_mr_crop_downsample/
src/ADNI_external_validation/

src/checkpoint/*.pth
